# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/

min_win_project/.vs/
min_win_project/build/
min_win_project/out/
min_win_project/CMakeSettings.json

project1/.vs/
project1/build/
project1/out/
project1/CMakeSettings.json

web_simple_temp/.vs/
web_simple_temp/build/
web_simple_temp/out/
web_simple_temp/CMakeSettings.json



